<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:8080/">
        <span class="glyphicon glyphicon-scissors">
        </span>
        TINYAPP™
        <span class="glyphicon glyphicon-scissors">
        </span>
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li>
        <a href="http://localhost:8080/">Home</a>
      </li>
      <li>
        <a href="http://localhost:8080/urls/">My Links</a>
      </li>
      <li class="login">
        <% if (email) { %>
          Logged in as : <%= email  %>
          <form class="logout" action="/logout" method="POST">
            <input type="submit" value="Log Out">
          </form>
        <% } else { %>
          <a href="http://localhost:8080/register">Register</a><a href="http://localhost:8080/login">/Log in</a>
        <% } %>
      </li>
    </ul>

  </div>
</nav> <!-- .navbar -->