<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-scissors"></span>
                TINYAPP™
                <span class="glyphicon glyphicon-scissors"></span>
            </a>
            <% if (userid == null) { %>
                <a href="http://localhost:8080/register">Register</a><a href="http://localhost:8080/login">/Log in</a>
           <% } else { %>
          <b> Logged in as : <%= email %> </b>
           <% } %>

        </div>

        <ul class="nav navbar-nav">
            <li><a href="http://localhost:8080/">Home</a></li>
            <li><a href="http://localhost:8080/urls/"> URL List</a></li>
            <li><a href="/about">About</a></li>


 </div>


        </ul>


</nav>