<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    body    { padding-top: 10px; } .glyphicon {
    font-size: 30px;} .glyphicon.glyphicon-erase {
    font-size: 30px;} .glyphicon.glyphicon-wrench {
    font-size: 30px;} .glyphicon.glyphicon-resize-small {
    font-size: 80px;}

    display:table-cell;
</style>