<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                TINYAPP™
            </a>
            <b> Logged in as : <%= username %> </b>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="http://localhost:8080/">Home</a></li>
            <li><a href="http://localhost:8080/urls/"> URL List</a></li>
            <li><a href="/about">About</a></li>
            <li>
            <form action="/login" method="POST" style="margin: 10px;"></li>
      <label for="login">Enter Username:</label>
      <input id="login" type="text" name="login" placeholder="username" style="width: 200px">
      <input type="submit" value="Submit">
    </form>
        </ul>

    </div>
</nav>