<!DOCTYPE html>
<html lang="en">
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: right;
}
</style>
<title>TinyApp</title>
<% include ./partials/_head %>
</head>
<header>
<% include ./partials/_header %>
</header>
<body>

                      <h2>List of URLs and Shortened versions</h2>
<ul>
    <% for(var key in urls[userid].urls) { %>
     <%let short = key%>
     <%let long = urls[userid].urls[key]%>
<style>
 table { width: 100%; }
  td.colA { width: 60%; }
  td.colB { width: 40%; }
</style>

<table class="table table-bordered table-striped table-hover">
<col align="left">
  <col align="left">
  <col align="right">



  <tr>
   <td class="colA"><b>Original URL:</b> <%= long %><form method="POST" action="/urls/<%= short %>/delete">
        <input type="submit" value="DELETE URL"></input><span class="glyphicon glyphicon-erase"></span></form></td>
   <td class="colB"><b>Shortened URL:</b> <%= short %><form method="GET" action="/urls/<%= short %>">
        <input type="submit" value="Edit"></input><span class="glyphicon glyphicon-wrench"></span></form></</td>
   
</table>








    <%}; %>



  <footer>
  <% include ./partials/_footer %>
  </footer>
</html>