<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
<% include ./partials/_header %>
</header>
<body>
<p> List of URLs and Shortened versions</p>
<ul>
    <% for(var key in urls) { %>
     <%let short = key%>
     <%let long = urls[key]%>
    <li><%= "URL:  " + long + "---" + "Shortened Version:  " + short %></li>
    <%}; %>

    </ul>

    Click <a href="http://localhost:8080/urls/new">HERE</a> to shortened your own URL!
</html>